.vscode
.idea
build
cmake-build-debug
cmake-build-debug-jkRemote
src/CMakeFiles
src/lib
src/cmake_install.cmake
src/CMakeCache.txt
src/CenterServer_jk
src/DBServer_jk
src/GateServer_jk
src/LogicServer_jk
src/JsonTest
src/Makefile